
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Layout</title>

        <!-- arquivos de folha de estilo CSS -->
        <link href="~/css/bootstrap.css" rel="stylesheet" />

        <!-- referencia da folha de estilos CSS do jquery datatable -->
        <link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />

    </head>

    <body>

        <div class="container mt-4">
            <div class="row">
                <!-- espaço de tamanho 12 -->
                <div class="col-md-3">
                    <img src="https://www.cotiinformatica.com.br/imagens/logo-coti-informatica.png" class="img-fluid" />
                    <br />
                    <br />

                    <div>
                        <strong>Usuário autenticado:</strong>
                        <div>@User.Identity.Name</div>
                    </div>

                    <div class="d-grid gap-2 mt-2">
                        <a href="/Home/Index" class="btn btn-outline-primary">
                            Página inicial
                        </a>
                    </div>
                    <div class="d-grid gap-2 mt-2">
                        <a href="/Produto/Cadastro" class="btn btn-outline-primary">
                            Cadastrar Produtos
                        </a>
                    </div>
                    <div class="d-grid gap-2 mt-2">
                        <a href="/Produto/Consulta" class="btn btn-outline-primary">
                            Consultar Produtos
                        </a>
                    </div>
                    <div class="d-grid gap-2 mt-2 mb-3">
                        <a href="/Produto/Relatorio" class="btn btn-outline-primary">
                            Relátórios de Produtos
                        </a>
                    </div>

                    <div class="d-grid gap-2 mt-2">
                        <a href="/Account/Logout" class="btn btn-outline-danger"
                           onclick="return confirm('Deseja realmente sair do sistema?');">Sair do Sistema</a>"
                    </div>

                </div>
                <div class="col-md-9">
                    <!-- local para exibir o conteúdo das demais páginas -->
                    @RenderBody()
                </div>
            </div>
        </div>
     
        <!-- arquivos de extensão JS (JavaScript -->
        <script src="~/js/bootstrap.js"></script>

        <!-- caminho da biblioteca JS do jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- caminho da biblioteca JS do datatables -->
        <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

        <!-- função para habilitar o datatable -->
        <script>
            $(document).ready(function () {
                $('#tabela_dados').DataTable({
                    "pageLength": 10,
                    "lengthMenu": [5, 10, 20, 50, 100],
                    "oLanguage": {"sUrl": "https://cdn.datatables.net/plug-ins/1.10.22/i18n/Portuguese-Brasil.json"}
                }); 
            });
        </script>

        <!-- criando uma seção para inserir código JavaScript de outras páginas-->
        @RenderSection("scripts", required : false)


    </body>

</html>
